<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_HOME_URL}tuijiao.css">
<!-- 交易开始 -->
<div id="jiaoyi" class="tuijiao" >
	<div class="main">
		<div class="top">
			<img src="{$Think.const.IMG_HOME_URL}14.png" height="65"><span>交易案例</span><img src="{$Think.const.IMG_HOME_URL}jiao.png" height="65">
		</div>
		<div class="bottom" id="houzhuiinfo_table" >

			<ul>
			   <foreach name='info1' item='v'>
				<li>
					<h4>{$v.yuming_name}</h4>
					<div class="price">
						<p>{$v.yuming_introduce}</p>
						<p style="text-decoration: line-through;">价格：￥{$v.yuming_xiaoshou_price}</p>
						<h3>已出售</h3>
					</div>
				</li>
			   </foreach>
			</ul>
			<div id="Pagination" class="pagination">
		        这里显示分页
		    </div>
		</div>
	</div>
</div>
<input type='hidden' id='jiaoyitotal' value='{$jiaoyitotal}' />
<script type="text/javascript">
	 var info_cache = new Array();
    $(function(){
    	(function() {
		    var num_entries = $("#jiaoyitotal").val();
		    //alert(num_entries);
		    // 创建分页
		    $("#Pagination").pagination(num_entries, {
		      num_edge_entries: 1, //边缘页数
		      num_display_entries: 4, //主体页数
		      callback: pageselectCallback,
		      items_per_page:20 //每页显示1项
		    });
		   })(); 
		    function pageselectCallback(page_index, jq){
		    	 //alert(yuming_ids);
            if(typeof info_cache[page_index] === 'undefined'){ 
		      $.ajax({
		       url:"__MODULE__/Index/jiaoyiyuming",
		       data:{'page_index':page_index},
		       dataType:'json',
		       type:'get',
		       success:function(msg){
		       console.log(msg);
		           var s = "";
		                  $.each(msg,function(n,v){
		                  	s +='<ul><li><h4>'+v.yuming_name+'</h4><div class="price"><p>'+v.yuming_introduce+'</p><p style="text-decoration: line-through;">价格：￥'+v.yuming_xiaoshou_price+'</p><h3>已出售</h3></div></li></ul>';
		                     });
		                    info_cache[page_index] = s;
		                    $('#houzhuiinfo_table ul:gt(0)').remove();
		                    $('#houzhuiinfo_table').append(s);  
		        }
		      });
		    }
		$('#houzhuiinfo_table ul:gt(0)').remove();
        $('#houzhuiinfo_table').append(info_cache[page_index]);
		   }
      }); 
</script>