	   #modify{
      background: url(../img/loginbgx.gif) no-repeat;
      background-size: 100% 100%;
     }
     #modify .main{
	   	width: 396px;
	   	margin-top: 50px;
      padding:20px 0;
	   }
	   #modify .form{
	   	width: 300px;
	   	height: 450px;
	   	background-color:#fff;
	   	margin-left: 67px;
	   }
	   #modify .step{
	   	width: 60px;
	   	height: 100px;
	   	margin-left: 130px;
	   	margin-top: 30px;
	   }
	   #modify .step div{
	   	float: left;
	   	text-align: center;
	   	color: #ccc;
	   }
	   #modify  span{
	   	display: inline-block;
	   	width: 40px;
	   	height: 40px;
	   	background: url(../img/yuan1.png);
	   	line-height: 40px;
	   	font-size: 16px;
        font-weight: bold;
        color: #fff;
	   }
     #modify .active  span{
         color: #24e563;
     }
     #modify div.active{
     	color: #000;
     }
     #modify .pass span{
     	background: url(../img/yuan2.png);
     }
     #modify .line{
     	line-height: 40px;
     }
     #modify .form form{
     	padding-left: 10px;
     }
     #modify .form form input{
     	height: 43px;
     	border:1px solid #ccc; 	
     	font-size: 16px;
     	font-weight: bold;
     }
     #modify .form form input:focus{
      border:1px solid blue;
     }
     #modify .form form input.txt{
      width: 270px;
      margin-bottom:20px;
      padding-left: 8px;
     }
     #modify .form form input.txts{
      width: 166px;
      padding-left: 8px;
     }
     #modify .form form input.btn{
     	background-color: #2CA9BD;
     	color: #fff;
     }