<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_HOME_URL}password.css">
<!-- 忘记密码开始 -->
	<div id="change" class="pwd">
		<h3>修改密码</h3>
		<form name="form3" method="post">
		    <p><span>原密码：</span><input type="password"  placeholder="原密码" value="{$yuanpwd[0][user_pwd]}"/></p>
			<p><span>新密码：</span><input type="password"  name="pwd"  placeholder="新密码" /></p>
			<p><span>确认密码：</span><input type="password" name="pwd1"  placeholder="确认密码"/></p>
			<p class="btns">
				<input class="btn2" type="button" value="提交"  onclick="check()"/>
				<input class="btn2" type="reset" value="重置" />
			</p>
		</form>
	</div>
	<script type="text/javascript">
		function check(){
		  var objFirst = document.forms["form3"].pwd;
	      var objSecond = document.forms['form3'].pwd1;
	      var MFirst = objFirst.value;
	      var MSecond = objSecond.value;
	      if(MFirst == "" || MSecond == ""){
	      	alert('密码不能为空！');
	      	return false;
	      }else if(MFirst.length<6||MFirst.length>16){
	        alert('密码长度应为6~16个字符！');
	        return false;
	      }else if(MFirst!=MSecond){
	        alert('两次密码输入不一致！')
	        return false;
	      }
	      document.forms["form3"].submit();//普通按钮
		}
	</script>
<!-- 忘记密码结束 -->